<span class="span0 well text-center">
    <%= link_to_voteable voteable, true, method: :post do%>
        <i class="icon-arrow-up"></i>
    <% end %>
  <br/>
  <%=voteable.total_votes%>
  <br/>
  <%= link_to_voteable voteable, false, method: :post do%>
        <i class="icon-arrow-down"></i>
    <% end %>
  </span>